
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Rock+Salt&display=swap');


.post .user img{
    height: 50px;
}
.post .user span {
    margin-left: 350px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.post {
    width: 80%;
    display: flex;
    margin-bottom: 50px;
    background-color: rgb(207, 200, 188);
}

.post .pic img{
    width: 400px;
    margin: 20px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    line-height: 2;
}

.post .user {
    line-height: 1;
}

.ttl {
    font-family: 'Oleo Script', cursive;
    font-size: 45px;
}


.heading {
    border-bottom: 1px solid rgb(167, 164, 164);
    margin-bottom: 20px;
}

.post , .post .comments, .post .user {
    margin-left: 20px;
}
.bio {
    margin-left: 80px;
}
.uname {
    font-size: 40px;
    line-height: 2;
}

.followers, .following {
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}
.numposts {
    font-size: 20px;
    line-height: 2;
}

.fullname {
    font-size: 20px;
    line-height: 2;
}

.images {
    display: flex;
    margin-left: 80px;
    flex-direction: row;
}

.images img {
    margin-right: 20px;
    margin-top: 20px;
    width: 400px;
}

.oneFollower {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.titleFol {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.logo {
    width: 70px;
}

body {
    background-color: rgb(255, 255, 255);
}


.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.formContainer {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color:rgb(207, 200, 188);
    padding: 50px;
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 300px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}

input[type="submit"] {
    color:  rgb(207, 200, 188);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color:  rgb(207, 200, 188);
}

/* a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
} */

a:hover {
    text-decoration: underline;
}