<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <title>insta485</title>
</head>
<body>
    <div class="heading">
        <a href="/">
            <img src="/static/images/ig_logo.png" alt="Instagram logo" class="logo">
                <span class = "ttl"> Insta485</span>
        </a> 
        <div class = "right">
            <a href = "/explore/">
                explore 
            </a>
            |
            <a href = "/users/{{logname}}/">
                {{logname}}
            </a>
        </div>   
    </div>
    <div class="titleFol">
        Following
    </div>
    <div>
    {% for follow in following %}
    <div class="oneFollower">
        <a href = "/users/{{follow.username}}/">
            <img src = "/uploads/{{follow.user_img_url}}" alt =  "{{follow.username}}">
            {{follow.username}}
        </a>

        {%if logname != follow.username %}
        {% if follow.logname_follows_username == 1%}
            following
            <form action="/following/?target={{url_for('show_following', username=username)}}" method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{follow.username}}"/>
                <input type="hidden" name="operation" value="unfollow"/>
            </form>
        
        {% else %}
            not following
            <form action="/following/?target={{url_for('show_following', username=username)}}" method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{follow.username}}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
        
        {% endif %}
    {% endif %}
    </div>
    {% endfor %}
    </div>
</body>