<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>disaster_relief</title>
</head>
<body>
    <div>
        <div class="heading">
            <a href="/">
                <!-- <img src="/static/images/ig_logo.png" alt="Instagram logo" class="logo"> -->
                <span class="ttl">CrisisConnect</span>
            </a>
            <div class = "right">
                <a href = "/resources/">
                    Resources 
                </a>
                |
                <a href = "/users/{{username}}/">
                    {{username}}
                </a>
            </div>   
            <!-- <div class="right">
                <a href="/resources/">Resources</a> |
                <a href="{{url_for('show_user', username=logname)}}">{{logname}}</a>
            </div> -->
            <h1 style="text-align: center"> Change Password </h1>
        </div>
    </div>
    <!-- Plain old HTML and jinja2 nav bar goes here -->

    <form action="/accounts/?target=/accounts/edit/"
        method="post" enctype="multipart/form-data">
        <input type="password" name="password" required
        placeholder="Old Password"/>
        <input type="password" name="new_password1" required
        placeholder="New Password" />
        <input type="password" name="new_password2" required
        placeholder="Confirm New Password" />
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/">Back to edit account</a>
</html>


