<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <title>disaster_relief</title>
</head>
<body>
    <div class="heading">
        <a href="/">
                <span class = "ttl"> CrisisConnect</span>
        </a> 
        <div class = "right">
            <a href = "/explore/">
                explore 
            </a>
            |
            <a href = "/users/{{logname}}/">
                {{logname}}
            </a>
        </div>   
    </div>
    <div>
    {{logname}}
    </div>   
    <div>
    {{email}}
    </div>
    <div>
    <a href="/accounts/password/">Change Password</a>
    </div>
    <div>
    <a href="/accounts/delete/">Delete Account</a>
    </div>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <input type="text" name="fullname" value="{{fullname}}" required placeholder = "fullname"/>
        <input type="text" name="email" value="{{email}}" required placeholder = "email"/>
        <input type="submit" name="update" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
    </form>

</body>
</html>





  