<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <title>Login</title>
</head>
<body>
    <div class="heading">
        <a href="/">
            <!-- <img src="/static/images/ig_logo.png" alt="Instagram logo" class="logo"> -->
            <span class="ttl">CrisisConnect</span>
        </a>

        <h1 style="text-align: center">  Login / Sign Up </h1>
    </div>

    <div class = "formContainer">
    <div class = "formDiv">
    <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        <input type="text" name="username" required placeholder="Username"/>
        <input type="password" name="password" required placeholder="Password"/>
        <input type="submit" value="Login"/>
        <input type="hidden" name="operation" value="login"/>
    </form>
    </div>
    Don't have an account?
    <a href="/accounts/create/">Sign up</a>
</div>
</body>
</html>
