<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <title>disaster_relief</title>
</head>
<body>
    <div>
        <div class="heading">
            <a href="/">
                <!-- <img src="/static/images/ig_logo.png" alt="Instagram logo" class="logo"> -->
                <span class="ttl">Disaster Relief</span>
            </a>
            <div class="right">
                <a href="/resources/">Resources</a> |
                <a href="{{url_for('show_user', username=logname)}}">{{logname}}</a>
            </div>
            <h1 style="text-align: center"> Resources </h1>
        </div>
    </div>
</body>